.cardPokemon{
    width: 250px;
    height: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    .cardPokemon__fav{
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 40px;
        height: 40px;
        opacity: .2;
        display: none;

        
    }
    .activeFavPokemonCard{
        display: block; 
        opacity:1;
    }
    .cardPokemon__img{
        width: 90%;
        height: 150px;
        margin-bottom: 20px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .cardPokemon__link{
        text-decoration: none;
        h6{
            font-family: $fuenteSecundaria;
            font-size: $sizeMedia;
            color: $negro;
            text-align: center;
            
        }
    }
    &:hover{
        text-decoration: none;
        border: 2px solid $azul;
        transform: scale(1.1);
        box-shadow: 3px 3px 3px $azul;
        .cardPokemon__fav{
            display: block;
            &:hover{
                opacity: 1;
            }
        }
    }
}

body.dark{
    .cardPokemon{
        .cardPokemon__link{
            h6{
                color: $blanco;
            }
        }
        &:hover{
            border: 2px solid $azul;
            box-shadow: 3px 3px 3px $azul;
        }
    }
}