.pokemonPage{
    .pokemonPage__img{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 70%;
            height: auto;
            max-height: 80vh;
            object-fit: contain;
    
        }
    }
    .pokemonPage__content{
        position: relative;
        width: 100%;
        height: 70vh;
        h3{
            font-family: $fuenteSecundaria;
            font-size: $sizeTitulo;
        }
        .boton{
            text-align: center;
            width: 300px;
            text-decoration: none;
            position: absolute;
            bottom: 0;
        }
        .pokemonPage__content-tipo{
            img{
                width: 30px;
                height: 30px;
            }
        }
        .pokemonPage__content-juegos, .pokemonPage__content-habilidades{
            width: 500px;
        }
    }
}
@media screen and (max-width: 1000px){
    .pokemonPage{
        // padding-bottom: 150px;
        .pokemonPage__content{
            margin-top: 30px;
            position: relative;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 100px;
            h3{
                font-family: $fuenteSecundaria;
                font-size: $sizeTitulo;
            }
            .boton{
                text-align: center;
                width: 250px;
                text-decoration: none;
                position: absolute;
                bottom: -50px;
            }
            .pokemonPage__content-juegos, .pokemonPage__content-habilidades{
                max-width: 300px;
                text-align: center;
                padding: 0 20px;
            }
        }
    }
}