*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: auto;
}
html,body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: $blanco;
    font-family: $fuentePrimaria;
}