*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: auto;
}
html,body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: $blanco;
    font-family: $fuentePrimaria;
}

input,textarea{

    outline: none;
    border: none;
    padding: 8px;
    border-bottom: 2px solid $rojo;
    transition: border-bottom $transisionTiempo ease;
    &:focus{
        border-bottom: 2px solid $azul;
    }
    &:hover{
        border-bottom: 2px solid $amarillo;
    }
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton{
    border: 2px solid $rojo;
    padding: 5px 10px;
    background-color: $rojo;
    color: $blanco;
    transition: background-color $transisionTiempo ease,
                color $transisionTiempo ease;
    &:hover{
        background-color: $blanco;
        color: $rojo;
    }
}
.circulo{
    border-radius: 100%;
}
.amarillo{
    background-color: $amarillo;
}
.azul{
    background-color: $azul;
}
.rojo{
    background-color: $rojo;
}
.negro{
    background-color: $negro;
}
.blanco{
    background-color: $blanco;
}


//DARK

body.dark{
    background-color: $negro;
    input{
        background-color: lighten($color: $negro, $amount: 10);
        color: $blanco;
    }
}
body.yellow{
    input,textarea{
        border-bottom: 2px solid $amarillo;
        &:focus{
            border-bottom: 2px solid $azul;
        }
        &:hover{
            border-bottom: 2px solid $rojo;
        }
    }
    .boton{
        border: 2px solid $amarillo;
        background-color: $amarillo;
        color: $blanco;
        &:hover{
            background-color: $blanco;
            color: $amarillo;
        }
    }
}
body.blue{
    input,textarea{
        border-bottom: 2px solid $azul;
        &:focus{
            border-bottom: 2px solid $amarillo;
        }
        &:hover{
            border-bottom: 2px solid $rojo;
        }
    }
    .boton{
        border: 2px solid $azul;
        background-color: $azul;
        color: $blanco;
        &:hover{
            background-color: $blanco;
            color: $azul;
        }
    }
}