*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: auto;
}
html,body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: $blanco;
    font-family: $fuentePrimaria;
    padding-bottom: 50px;
}
input,textarea{

    outline: none;
    border: none;
    padding: 8px;
    border-bottom: 2px solid $rojo;
    transition: border-bottom $transisionTiempo ease;
    &:focus{
        border-bottom: 2px solid $azul;
    }
    &:hover{
        border-bottom: 2px solid $amarillo;
    }
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton{
    border: 2px solid $rojo;
    padding: 5px 10px;
    background-color: $rojo;
    color: $blanco;
    transition: background-color $transisionTiempo ease,
                color $transisionTiempo ease;
    &:hover{
        background-color: $blanco;
        color: $rojo;
    }
}