//*Configuraciones globales

//?colors
$blanco : #fff;
$rojo : #e30d0d;
$amarillo: #ffc400;
$azul: #00a8eb;
$negro: #111;
//fuentes
$fuentePrimaria: 'Poppins', sans-serif;
$fuenteSecundaria: 'Wendy One', sans-serif;

//color fuentes
$fuentePrimario: #222831;

//Tamaños fuentes
$sizePeque: 14px;
$sizeMedia: 18px;
$sizeGrande: 30px;
$sizeTitulo: 3rem;
//Tiempos
$transisionTiempo: .3s;
$transisionTiempoLenta: .5s;
 //Opacidad