//*Configuraciones globales

//?colors
$fondo : #fff;
$rojo : #e3350d;
$amarillo: #e6bc2f;
$azul: #30a7d7;

//fuentes
$fuentePrimaria: 'Poppins', sans-serif;

//color fuentes
$fuentePrimario: #222831;

//Tamaños fuentes
$sizePeque: 14px;
$sizeMedia: 18px;
$sizeGrande: 30px;
$sizeTitulo: 3rem;
//Tiempos
$transisionTiempo: .3s;
$transisionTiempoLenta: .5s;
 //Opacidad